<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Behaviour</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>

{% include "header.html" %}

<form action="/student/{{ student_num }}/behaviour" method="POST">
    <input type="text" name="comment" id="comment" placeholder="Comment">
    <input type="number" name="points" id="points" placeholder="Points">
    <input type="submit" value="Add">
</form>

<div>
    <div class="containerdd">
        <div class="Tpoints">
            <p>Total Points: {{ behaviors.totalPoints}}</p>
        </div>

        <div class="teacher-info">
            <table>
                <tr>
                    <th>Teacher</th>
                    <th>Comment</th>
                    <th>Points</th>
                </tr>
                {% for i in range(behaviors.comments|length) %}
                <tr>
                    <td>{{ behaviors.teachers[i] }}</td>
                    <td>{{ behaviors.comments[i] }}</td>
                    <td>{{ behaviors.points[i] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

</div>

{% include "footer.html" %}

</body>
</html>