<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login UI</title>
    <link rel="stylesheet" href="../static/styles/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
<div class="wrapper">
    <form action="">
        <div class ="text"> <h1> Who are you? </h1></div>
        <button type="submit" class="btn1"> Student </button>
        <button type="submit" class="btn1"> Teacher </button>
        <button type="submit" class="btn1"> Parent </button>


    </form>
</div>
</body>
</html>