{% with title=title %}
{% include "components/header.html" %}
{% endwith %}

<div style="display: flex; justify-content: center; width: 100%">
    <p style="background-color: transparent; border-radius: 5px; padding: 10px; backdrop-filter: blur(20px); box-shadow: 0 0 10px rgba(0, 0, 0, .2); border: 2px solid rgba(255, 255, 255, .2);border-radius: 40px; font-size: larger">
        {% if session['type'] == 'student' %}
        Part of {{ house }} house
        {% else %}
        This student is part of the {{ house }} house
        {% endif %}
    </p>
</div>

<div class="containerd">
    <div class="total-points">
        <div>Total points</div>
        <div class="points">{{ behavior.totalPoints + grades.totalPoints
            + attendance.totalPoints + others.totalPoints }}</div>
    </div>
    <div class="top-squares">

        <a href="/student/{{ student_num }}/behaviour" class="square">
            <div>Behaviour</div>
            <div class="square-text">{{ behavior.totalPoints }}</div>
        </a>
        <a href="/student/{{ student_num }}/grades" class="square">
            <div>Grades</div>
            <div class="square-text">{{ grades.totalPoints }}</div>
        </a>
    </div>
    <div class="bottom-squares">
        <a href="/student/{{ student_num }}/attendance" class="square">
            <div>Attendance</div>
            <div class="square-text">{{ attendance.totalPoints }}</div>
        </a>
        <a href="/student/{{ student_num }}/others" class="square">
            <div>Others</div>
            <div class="square-text">{{ others.totalPoints }}</div>
        </a>
    </div>
</div>

{% include "components/footer.html" %}