<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
<header>
    <div class="container">
        <logo><h1>Name</h1></logo>

        <nav>
            <ul>
                <li class="active"><a href="#"><h1>Dashboard</h1></a></li>
                <li><a href="leaderboard.html"><h1>Leaderboard</h1></a></li>
                <li class="drop1"><a><sd><h1>Student user</h1></sd></a>
                    <div class="drop1cont">
                        <a> username </a>
                    </div>
                </li>
                <li class="drop2"><a><ld><h1>logout</h1></ld></a>
                    <div class="drop2cont">
                        <a> logout </a>
                    </div>
                </li>
            </ul>
        </nav>


    </div>
</header>

<div class="containerd">
    <div class="total-points">
        <div>Total points</div>
        <div class="points">_______</div> <!-- New text -->
    </div>
    <div class="top-squares">

<!--      <a href="/student/{{ student_num }}/behaviour" class="square">-->
          <a href="../templates/behavior.html" class="square">
            <div>Behavior</div>
          </a>
<!--        <a href="/student/{{ student_num }}/grades" class="square">-->
            <a href="../templates/grades.html" class="square">
            <div>Grades</div>
            </a>
    </div>
    <div class="bottom-squares">
<!--        <a href="/student/{{ student_num }}/attendance" class="square">-->
            <a href="../templates/attendance.html" class="square">
            <div>Attendance</div>
        </a>
<!--        <a href="/student/{{ student_num }}/others" class="square">-->
            <a href="../templates/others.html" class="square">
            <div>Others</div>
        </a>
    </div>
</div>

<footer>
    <p> bob </p>
</footer>

</body>
</html>
