{% with title=title, nobar='true', login='true' %}
{% include "components/header.html" %}
{% endwith %}

<div class="welcome"> Welcome to AcaS </div>

<div class="wrapper">
    <form action="">
        <div class ="text"> <h1> Who are you? </h1></div>
        <a href="/studentlogin" class="btn1"> Student login </a>
        <a href="/teacherlogin" class="btn1"> Teacher login </a>
        <a href="/parentlogin" class="btn1"> Parent login </a>


    </form>
</div>

{% include "components/footer.html" %}