{% with title=title, leaderboard='true', active='leaderboard' %}
    {% include "components/header.html" %}
{% endwith %}

<div class="leaderboards-container">

    <div class="leaderboard-student-leaderboard">
        <h2>Student Leaderboard</h2>
        <!-- Table for Student Leaderboard -->
        <table>
            <tr>
                <th>Position in school</th>
                <th>Student name</th>
                <th>Total points</th>
            </tr>

            {% for pos in range(0, 3) %}
            <tr>
                <th>{{ pos }}</th>
                <th>{{ top_students_names[pos] }}</th>
                <th>{{ top_students_points[pos] }}</th>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="leaderboard-house-leaderboard">
        <h2>House Leaderboard</h2>
        <!-- House Leaderboard -->
        <div class="house-info">
            <div class="house">
                <h3>{{ winningHouse }}</h3>
                <p>{{ winningTotal }}</p>
            </div>
            <div class="house">
                <h3>{{ losingHouse }}</h3>
                <p>{{ losingTotal }}</p>
            </div>

            {% for house in range(0, house_names|length) %}
            <div class="house">
                <h3>{{ house_names[house] }}</h3>
                <p>{{ house_totals[house] }}</p>
            </div>
            {% endfor %}
        </div>

    </div>

</div>

{% include "components/footer.html" %}

</body>
</html>



