<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>

{% include "header.html" %}

<h1>Leaderboard</h1>

<h2>House Leaderboard</h2>

<div>
    <!-- for now just pretend like each <div> is a row -->
    <div>
        <h3>{{ winningHouse }}</h3>
        <p>{{ winningTotal }}</p>
    </div>
    <div>
        <h3>{{ losingHouse }}</h3>
        <p>{{ losingTotal }}</p>
    </div>
</div>

<h2>Student Leaderboard</h2>

<!-- Also just pretend for now -->

<table>
    <tr>
        <th>Position in school</th>
        <th>Student name</th>
        <th>Total points</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Derrick</td>
        <td>280</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Headphones</td>
        <td>270</td>
    </tr>

    <tr>
        <td>3</td>
        <td>Samantha Sandwich</td>
        <td>190</td>
    </tr>
</table>


{% include "footer.html" %}

</body>
</html>