{% with title=title, teacher='true' %}
    {% include "components/header.html" %}
{% endwith %}

<div>
    <div class ="All">
        <h1>Search for a student</h1>
        <div class="input-box">
            <input id="searchStudents" name="searchStudents" type="text">
            <!-- When styling this, if your styles don't work after searching you need to add the same thing in search.js
            OR tell me -->
            <!--  initResults is set to display: block in search.js. If needs changing do so in search.js and stylesheet.
              OR ask me-->
        </div>
        <div id="searchResults">

        </div>
    </div>
</div>

<script src="{{ url_for('static',filename='scripts/search.js') }}"></script>

{% include "components/footer.html" %}
